# Node / Angular
node_modules/
dist/
out-tsc/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment
.env
.env.*

# Angular build
/.angular

# Editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

