<mat-card class="row card centered">
	<mat-card-header class="col-12 card-header centered">
		<mat-card-title>
			Exercise For Athens University Of Economics And Business
		</mat-card-title>
		<mat-card-subtitle> Mechanic Shop </mat-card-subtitle>
	</mat-card-header>
	<mat-card-content class="col-12 row card-content container centered">
		@if(needLogin){
		<form class="row col-12 centered" [formGroup]="loginCredentials">
			<mat-form-field class="col-auto">
				<input
					matInput
					type="text"
					placeholder="username"
					formControlName="username"
				/>
			</mat-form-field>
			<mat-form-field class="col-auto">
				<input
					matInput
					type="password"
					placeholder="password"
					formControlName="password"
				/>
			</mat-form-field>
			<button matButton (click)="login(loginCredentials.getRawValue())">
				Login
			</button>
		</form>
		} @if(!needLogin){
		<button matButton (click)="navigate('Owners')">Page Owners</button>
		<button matButton (click)="navigate('Vehicles')">Page Vehicles</button>
		<button matButton (click)="navigate('Insurances')">Page Insurances</button>
		<button matButton (click)="navigate('Full')">Full Data</button>
		<button matButton (click)="navigate('repair')">Repairs</button>
		}
	</mat-card-content>
</mat-card>
